
.title {
  font-size: 40px;
  font-weight: bold;
  align-self: center;
}

.unit-card {
  margin: 40px;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  flex: 1;
  display: flex;
  height: 40px;
  background-color: #b0b4d0;
  padding: 0 100px;
}

.tab {
  height: 100%;
  width: 100px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;

  &:hover {
    background-color: #9fa4c4;
  }
}
